html {
    --header-height: 60px;
    --box-height: 75px;
    --box-width: 200px;
    --box-radius: 15px;
}
html[data-theme="light"]{
    --primary-color: #eecdb4;
    --body-color: #f0edd4;
    --box-color: #f9fbe7;
    --text-color: black;
    --sun: block;
    --moon: none;

}html[data-theme="dark"]{
    --primary-color: #5c469c;
    --body-color: #1d267d;
    --box-color: #0c134f;
    --text-color: white;
    --sun: none;
    --moon: block;
}
/* -------------------------------------------- */
html mani-projekti {
    --header-height: 60px;
}
html[data-theme="light"]{
    --krasa: rgb(236, 205, 180);
    background-color: rgb(240, 237, 212);
}html[data-theme="dark"]{
    --krasa: rgb(92,70,156);
    background-color: rgb(29,38,125);
}
/* -------------------------------------------- */
body {
    margin: 0;
}

header{
    width: 100vw;
    height: var(--header-height);
    background-color: var(--krasa);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
/* -------------------------------------------- */
header mani-projekti{
    width: 100vw;
    height: var(--header-height);
    background-color: var(--krasa);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------------- */
main {
    margin-top: var(--header-height);
}

h1{
    color: var(--krasa);
}
p{
    color: var(--krasa);
}
h2{
    color: var(--krasa);
}
body[data-theme="dark"] {
    background-color: #1D267D;

  }
  
body[data-theme="light"] {
    background-color: #F0EDD4;
    color: black;
}
#toggle-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
}



li  {
    position: absolute;
    background-color: var(--krasa);
    color: black;
    padding: 25px;
    font-size: 25px;
    height: 645px;
    border: none;
    left: 0;
    top: 43.9px;

}

a {
    color: var(--burti);
    margin-right: 30px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    

}
#toggle-theme {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 0;
}
ul {
    position: absolute;
    display: none; 
}
ul.show {
    display: block;
  }
  body {
    margin: 0;
    background-color: var(--body-color);
  }
/* -------------------------------------------------------------- */

h3{
    font-family: sans-serif;
    font-size: 25px;
    color: var(--text-color);
}
  main {
    margin-top: var(--header-height);
  }
  
  p {
    color: var(--text-color);
  }
  h1 {
    color: var(--text-color);
    font-family: sans-serif;
  }
  h2 {
    color: var(--text-color);
    font-family: sans-serif;
  }
  label {
    color: var(--text-color);

  }
  #australia {
    background-color: var(--box-color);
    height: var(--box-height);
    width: var(--box-width);
    border-radius: var(--box-radius);
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    display: flex;
    gap: 5px;
    font-family: sans-serif;
  }
  #rome {
    background-color: var(--box-color);
    height: var(--box-height);
    width: var(--box-width);
    border-radius: var(--box-radius);
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    display: flex;
    gap: 5px;
    font-family: sans-serif;
  }
  #indonesia {
    background-color: var(--box-color);
    height: var(--box-height);
    width: var(--box-width);
    border-radius: var(--box-radius);
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    display: flex;
    gap: 5px;
    font-family: sans-serif;
  
  }
  #liepaja {
    background-color: var(--box-color);
    height: var(--box-height);
    width: var(--box-width);
    border-radius: var(--box-radius);
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    display: flex;
    gap: 5px;
    font-family: sans-serif;
  }
  #box-grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    width: 500px;
    gap: 30px;
  }
  button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--box-radius);
    width: 100px;
    height: 35px;
    margin-top: 35px;
    font-family: sans-serif;
  }
  #toggle-theme {
    width: 50px;
    opacity: 0%;
  }
  #sun {
    display: var(--sun);
  }
  #moon {
    display: var(--moon);
  }
  #supergrid{
    display: grid;
    justify-content: center;
    justify-items: left;
    grid-template-columns:0.5fr;
    grid-template-rows: 2fr;
  }
  label{
    font-size: 25px;
  }
h4{
    font-family: sans-serif;
    font-size: 45px;
    color: var(--text-color);
    align-items: center;
    position: relative;
    left: 350px;
}
h5{
    font-family: sans-serif;
    font-size: 40px;
    color: var(--text-color);
    align-items: center;
    position: absolute;
    left: 450px; 
    width: 600px;
    height: 500px;
}
H6{
    font-family: sans-serif;
    font-size: 50px;
    color: var(--text-color);
    align-items: center;
    position: relative;
    left: 350px; 
}